@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  //color:#222;
  color:#606c71;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  //color:#393939;
}

h3, h4, h5, h6 {
  //color:#494949;
}

a {
  //color:#267CB9;
  color:#159920;
  text-decoration:none;
}

a:hover, a:focus {
  color:#12791b;
}

a small {
  color:#777;
  margin-top:-0.3em;
  display:block;
}

small a {
  font-size:14px;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f3f6fa;
  border-radius:5px;
  border:1px solid #dce6f0;
  overflow-x: auto;
  font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  border-radius: 0.3rem;
  white-space: pre-wrap;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

strong {
  color:#222;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

// Form
.cp_iptxt {
	position: relative;
  margin: 40px 3% 40px 0;
  display: block;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
	color: #727272;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 6px;
	left: 14px;
	padding: 9px 5px;
	transition: 0.3s;
}
.cp_iptxt i.fa-user {
  background-image: url(../img/icon_user.png); 
  background-repeat: no-repeat;
  background-size: contain;
  width: 7px;
}
.cp_iptxt i.fa-mail {
  background-image: url(../img/icon_mail.png); 
  background-repeat: no-repeat;
  background-size: contain;
  width: 7px;
  top: 10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#999;
}
::placeholder{ /* Others */
  color:#999
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #999;
}
.cp_txtarea {
  color: #999;
}
.cp_txtarea span {
  display: block;
  margin-bottom: 6px;
}
.cp_txtarea textarea {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  width: 90%;
  height: 6rem;
  font-size: 14px;
  color: #727272;
  margin-bottom: 18px;
}
.btn_wrap {
  display: flex;
}
.submit_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  display: block;
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #3788d8;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-color: #3788d8;
  border-radius: 2px;
}
.cancel_btn {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #a9a9a9;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-color: #a9a9a9;
  border-radius: 2px;
  margin-right: 14px;
}

// google calender
.calender {
  overflow: hidden;
  width: 100%;
}

iframe {
  width: 100%;
  //height: calc(80vw * 9 / 16);
  height: 480px;
}

@media screen and (min-width: 500px) {
  iframe {
    max-width: 600px;
    height: calc(80vw * 3 / 4);
    max-height: 450px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
