<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/assets/js/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/assets/js/fullcalendar/daygrid/main.css' rel='stylesheet' />

    <script src='/assets/js/fullcalendar/core/main.js'></script>
    <script src='/assets/js/fullcalendar/google-calendar/main.js'></script>
    <script src='/assets/js/fullcalendar/daygrid/main.js'></script>
    <script src='/assets/js/fullcalendar/interaction/main.js'></script>
    <script src='/assets/js/fullcalendar/list/main.js'></script>
    <script src='/assets/js/fullcalendar/core/locales/ja.js'></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ['interaction', 'dayGrid', 'list', 'googleCalendar'],
          displayEventTime: false, // don't show the time column in list view
          locale: 'ja',
          googleCalendarApiKey: 'AIzaSyAw82iCBhgi3itNbU865Drs52aNvkz-x2c',
          events: 'yamanotezaka@gmail.com',

          eventClick: function (arg) {
            window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');
            arg.jsEvent.preventDefault() // don't navigate in main tab
          },
        });

        calendar.render();
      });
    </script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">山の手坂自治会</a></h1> -->
        
        {% if site.logo %}
          <a href="/"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <p>活動スケジュールや議事録をまとめます。</p>

        <pre><b>次回班長会/幹部会</b><br>班長会 11/10（日）10:00〜<br>幹部会 11/09（土）19:00〜</pre>

        <pre><b>資源ゴミ回収日</b><br>11/10（日）10:00<br>11/09（土）19:00</pre>

        <ul>
          <li><small><a href="">クラウドサーバー（班長のみ）</a></small></li>
          <li><small><a href="">自治会会則</a></small></li>
          <li><small><a href="/form.html">お問い合わせ</a></small></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>©2019 山の手坂自治会 All Rights Reserved.</small></p>
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
