---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>お問い合わせフォーム</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

<form
  action="https://formspree.io/myrjenex"
  method="POST"
>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <!-- your other form fields go here -->

  <button type="submit">Send</button>
</form>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

